name: Build

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: ['ubuntu-20.04', 'macos-12']
        swift: ['5.7']

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: swift-actions/setup-swift@v1
      with:
        swift-version: ${{ matrix.swift }}
    - name: Install system dependencies (Linux)
      if: runner.os == 'Linux'
      run: sudo apt-get update && sudo apt-get install -y libcairo2-dev
    - name: Install system dependencies (macOS)
      if: runner.os == 'macOS'
      run: brew update && brew install pkg-config cairo freetype2
    - name: Build
      run: swift build
    - name: Test
      run: swift test
